.section
{
  padding: 3.2rem;

  .formfield
  {
    margin: 0;
  }
  
  &--no-bottom
  {
    padding: 3.2rem;
    padding-bottom: 0;
  }

  &--no-top
  {
    padding: 3.2rem;
    padding-top: 0;
  }

  .next-step
  {
    padding-top: 0 !important;
  }
}

.gray
{
  color: #808080;
}

.red
{
  color: @color-primary;
}

.legal-link
{
  text-decoration: none;
}