.campaign
{

  &-top, 
  &-bottom
  {
    padding: 3.2rem;
  }

  &-bottom
  {
    box-shadow: 0 -12px 30px 0 rgba(128, 128, 128, 0.1);
  }

  &-scrolled
  {
    max-height: 82vh;
    overflow-y: scroll;
  }


  &-settings 
  {

    &-bg
    {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: @whiteColor;
    }

    .segments
    {
      padding: 0 2.7rem;
    }

    .heading
    {
      display: flex;
      align-items: center;
      

      .button-back
      {
        height: 1.8rem;
        margin-right: 1rem;

        svg
        {
          width: 1.8rem;
          height: 1.8rem;
        }
      }
    }

    .next-step
    {

      padding-top: 5rem;

      input.btn
      {
        width: 240px;
        font-size: 1.6rem;
        cursor: pointer;
      }
    }

    .manual-settings
    {
      padding-top: 5rem;

      .btn
        {
          font-size: 1.6rem;
          cursor: pointer;
        }
    }
  }
}
.segments
{
  [class*=col-], 
  [class*=col_], 
  [class~=col] 
  {
    box-sizing: border-box;
    padding: 1rem 1rem 1rem;
  }
}


.audience-item {

  display: block;
  height: 12rem;
  padding: 1.6rem;
  //margin-bottom: 1.5rem;
  border: 1px solid darken(@lightGrayColor-1, 5%);
  cursor: pointer;
  transition: @transition-primary;

  &:hover {
    background-color: @primary-color;
    color: @whiteColor;
    border: 1px solid @primary-color;

    .segment-icon {
      fill: @whiteColor;
    }
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.4rem;
  }

  &__title {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  &--active {
    background-color: @primary-color;
    color: @whiteColor;
    border: 1px solid @primary-color;

    .segment-icon {
      fill: @whiteColor;
    }

    .plus-icon {
      fill: @whiteColor;
      width: 2.4rem;
      height: 2.4rem;
    }
    &:hover {
      border: 1px solid @primary-color;
    }
  }

}

.segment-icon {
  fill: lighten(@primary-color, 20%);
  width: 3.2rem;
  height: 3.2rem;
}

.plus-icon {
  fill: @lightgrayColor-2;
  width: 2.4rem;
  height: 2.4rem;
}